{% extends "base.html" %}

{% block content %}

<h1>Contact Management</h1>
<a  href="{% url 'contact_create' %}"class="button">Create a New Contact</a>

        <table>
            <thead>
                <tr>
                    <th>Contact Name</th>
                    <th>Email</th>
                    <th>Created Time</th>
                </tr>
            </thead>
            <tbody>
                {% if contacts %}
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.created_time }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No contacts found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <footer>
            ©Created by Kamal Koushik
        </footer>

{% endblock content %}